<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mongo DB</title>
</head>
<body>
    <h1>welcome to mongo db</h1>
    {{message}}

    <ul>
        >
        {{#each players}}
        <li>{{this.name}} | {{this.age}}</li>
        {{/each}}
    </ul>
</body>
</html>